.container {
	display: flex;
	background-color:  #000;
	width: 90vh;
	height: 90vh;
}

#blue {
	background-color: blue;
}

#red {
	background-color: red;
}

#green {
	background-color: green;
}

#yellow {
	background-color: yellow;
}